:root {
  --primary-color: #7c3b8c9f;
  --primary-color-rgb: 108, 59, 225;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  h1.name {
    font-size: 40px;
  }
  h2.greeting {
    font-size: 24px;
  }
  h3.intro {
    font-size: 18px;
  }
  .card-title {
    font-size: 28px;
  }
  .card-text {
    font-size: 16px;
  }
}

.page-wrapper {
  margin: 60px auto;
  max-width: 1200px;
}
.page-wrapper-about {
  margin: 60px auto;
  max-width: 1000px;
}

.home {
  margin: 60px auto;
  max-width: 1200px;
}
.btn {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
h4 {
  font-size: 18px;
  opacity: 0.7;
  text-align: center;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}
.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.about-link:hover {
  background: rgba(var(--primary-color-rgb), 0.2);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.card-title {
  margin-bottom: 20px;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.contact-link:hover {
  background: rgba(var(--primary-color-rgb), 0.2);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.navbar-toggler {
  background-color: #e0c7eea4;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.paragraph {
  min-width: 200px;
}
